<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>SUCCESS</h1>
    <h3>You are logged in as {{userName}}</h3>
    <form class="" action="/click" method="post">
      <input type="submit" name="click" value="Click me!">
      <label for="click">You have clicked me {{clicks}} times!</label>
    </form>
    <a href="/logout">Log out</a>
  </body>
</html>
